APP_ENV=local
MYTIMES_BASE_URL=https://mytimes.taylors.edu.my
MYTIMES_TOKEN=
MOODLE_REQUEST_TIMEOUT_SECONDS=30
HTTP_TRUST_ENV=false
SCHEDULER_SHARED_SECRET=replace-with-a-long-random-value-for-local-testing
